

<table class="table table-bordered" style="width:400px;">
  <tbody>
    {% for item in items %}
      <tr>
        <td>
          {{ item }}
          {% if item.stackable %}
            (x{{ item.uses }})
          {% endif %}
        </td>
        <td class="numeric" style="width:100px;">
          {% if item.base_type == "WEA" %}
            <a href="{% url "game:inventory:use" item.pk %}">Wield</a>
          {% elif item.base_type == "ARM" %}
            <a href="{% url "game:inventory:use" item.pk %}">Equip</a>
          {% elif item.base_type == "CON" %}
            <a href="{% url "game:inventory:use" item.pk %}">{{ item.display_verb|title }}</a>
          {% elif item.base_type == "QST" %}
            <a href="">Use</a>
          {% endif %}
          | <a href="{% url "game:inventory:drop" item.pk %}">Drop</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>