.main-content
{
    padding: 10px;
}

.statusBarTitle
{
    color: White;
    font-family: 'Press Start 2P';
    font-size: 8px;
}

.statusBarData
{
  border: 1px solid white;
  background-image: url("../images/ui/bar-black.png");
}

.gold
{
    font-weight: bold;
    color: #D7DF01;
}

.xp
{
  font-weight: bold;
  color: #81F781;
}

.health
{
    font-weight: bold;
    color: red;
}

.stamina
{
    font-weight: bold;
    color: green;
}

.location-title
{
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}

.route-title
{
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}

.menu
{
    font-family: 'Press Start 2P';
    font-size: 8px;
}

.site-name
{
    font-size: 16px;
}


.player-name
{
    font-family: 'Press Start 2P';
    font-size: 12px;
    vertical-align: bottom;
}

.chat-bar {
    width: 400px;
    margin: 5px;
}