{% extends "internal.html" %}

{% block content %}

  <h2>{{ player.name }}</h2>



  {% for game_message in game_messages %}
    <p>{{ game_message.message|safe }}</p>
  {% endfor %}

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#stats" role="tab" data-toggle="tab">Stats</a>
      </li>
      <li role="presentation">
        <a href="#equip" role="tab" data-toggle="tab">Equipment</a>
      </li>
      <li role="presentation">
        <a href="#inventory" role="tab" data-toggle="tab">Inventory</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="stats">
        {% include "player/stats.html" %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="equip">
        {% include "player/equipment.html" %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="inventory">
        <h4>Inventory</h4>
        {% include "item/inventory_list.html" %}
      </div>
    </div>
  </div>



{% endblock %}