{% load apps_item %}
<h4>Equipment</h4>

<div>Current Weapon: {{ player.weapon.name }}</div>

<div class="panel panel-default pull-left" style="width: 300px;margin-right: 10px;">
  <div class="panel-heading">Armor</div>
  <table class="table">
    <tr>
      <td>
        {% display_equipment "Head" player.head %}
      </td>
    </tr>
    <tr>
      <td>
        {% display_equipment "Chest" player.chest %}
      </td>
    </tr>
    <tr>
      <td>
        {% display_equipment "Gloves" player.gloves %}
      </td>
    </tr>
    <tr>
      <td>
        {% display_equipment "Legs" player.legs %}
      </td>
    </tr>
    <tr>
      <td>
        {% display_equipment "Feet" player.feet %}
      </td>
    </tr>
    <tr>
      <td>
        {% display_equipment "Mount" player.mount %}
      </td>
    </tr>
    <tr>
      <td>
        {% display_equipment "Right Hand" player.right_hand %}
      </td>
    </tr>
    <tr>
      <td>
        {% display_equipment "Left Hand" player.left_hand %}
      </td>
    </tr>
  </table>
</div>