
<h4>Player Stats</h4>

<div class="panel panel-default pull-left" style="width: 260px;margin-right: 10px;">
  <div class="panel-heading">Player Status</div>
  <table class="table">
    <tr>
      <td class='numeric' width="110">Health</td>
      <td class='numeric' width="50">{{ player.current_health }} / {{ player.total_health }}</td>
    </tr>
    <tr>
      <td class='numeric' width="110">Stamina</td>
      <td class='numeric' width="50"> {{ player.current_stamina }} / {{ player.total_stamina }}</td>
    </tr>
    <tr>
      <td class='numeric' width="110">XP</td>
      <td class='numeric' width="50">{{ player.xp }}</td>
    </tr>
    <tr>
      <td class='numeric' width="110">Level</td>
      <td class='numeric' width="50">{{ player.level }}</td>
    </tr>
    <tr>
      <td class='numeric' width="110">Gender</td>
      <td class='numeric' width="50"> {{ player.get_gender_display }}</td>
    </tr>

  </table>
</div>


<div class="panel panel-default pull-left" style="width: 160px;">
  <div class="panel-heading">Stats</div>
  <table class="table">
    <tr>
      <td class='numeric' width="110">Strength</td>
      <td class='numeric' width="50">{{ player.strength }}</td>
    </tr>

    <tr>
      <td class='numeric'>Dexterity</td>
      <td class='numeric'>{{ player.dexterity }}</td>
    </tr>

    <tr>
      <td class='numeric'>Constitution</td>
      <td class='numeric'>{{ player.constitution }}</td>
    </tr>

    <tr>
      <td class='numeric'>Intelligence</td>
      <td class='numeric'>{{ player.intelligence }}</td>
    </tr>

    <tr>
      <td class='numeric'>Will Power</td>
      <td class='numeric'>{{ player.will_power }}</td>
    </tr>

    <tr>
      <td class='numeric'>Perception</td>
      <td class='numeric'>{{ player.perception }}</td>
    </tr>

    <tr>
      <td class='numeric'>Arcane Power</td>
      <td class='numeric'>{{ player.arcane_power }}</td>
    </tr>

    <tr>
      <td class='numeric'>Presence</td>
      <td class='numeric'>{{ player.presence }}</td>
    </tr>

    <tr>
      <td class='numeric'>Manipulation</td>
      <td class='numeric'>{{ player.manipulation }}</td>
    </tr>

    <tr>
      <td class='numeric'>Attack</td>
      <td class='numeric'>{{ player.attack }}</td>
    </tr>

    <tr>
      <td class='numeric'>Defense</td>
      <td class='numeric'>{{ player.defense }}</td>
    </tr>

    <tr>
      <td class='numeric'>Speed</td>
      <td class='numeric'>{{ player.speed }}</td>
    </tr>
  </table>
</div>