.main-content
{
    padding: 10px;
}

.statusBarTitle
{
    color: White;
    font-family: 'Press Start 2P';
    font-size: 8px;
}

.statusBarData
{
  border: 1px solid white;
  background-image: url("../images/ui/bar-black.png");
}

.gold
{
    font-weight: bold;
    color: #D7DF01;
}

.xp
{
  font-weight: bold;
  color: #81F781;
}

.unidentified
{
  font-weight: bold;
  color: #f77e33;
}

.health
{
    font-weight: bold;
    color: red;
}

.stamina
{
    font-weight: bold;
    color: green;
}

.location-title
{
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}

.route-title
{
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}

.menu
{
    font-family: 'Press Start 2P';
    font-size: 8px;
}

.site-name
{
    font-size: 16px;
}


.player-name
{
    font-family: 'Press Start 2P';
    font-size: 12px;
    vertical-align: bottom;
}

.chat-bar {
    width: 400px;
    margin: 5px;
}

.numeric {
    text-align: right;
}

.combat-critical
{
    font-weight: bold;
    color: darkred;
}

.combat-fumble
{
    font-style: italic;
    color: #ffff00;
}

.combat-damage
{
    color: darkred;
}

.combat-profile
{
    font: 10px verdana;
    padding: 2px;
    color: white;
    background-color: #2e3338;
    width: 380px;
    height: 120px;
    border: 1px solid white;
}

.combat-profile > h3
{
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    margin: 5px 0px 0px 0px;
}

.combat-profile > h4
{
    margin: 2px 0px 6px 5px;
    color: #999999;
    font:10px verdana;
}

.combat-profile > img
{
    border: 1px solid #FFFFFF;
    height: 100px;
    width: 100px;
    margin: 5px 10px 5px 5px;
}

.combat-bar
{
    margin: 5px;
}

.combat-messages
{
    margin: 10px;
}

.combat-actions
{
    margin: 10px;
}
