{% extends "internal.html" %}
{% load apps_game %}
{% block content %}

  <div>

    <h2 class="route-title">Combat!</h2>

    <div class="player-name">

    </div>

     <div class="combat-profile">
       <img class="pull-left" src="{{ STATIC_URL }}{{ mob.mob_type.image_path }}">
       <h3>{{ mob.name }}</h3>
       <h4>Level 1</h4>

       <div class="combat-bar">{% indicator_bar "HP" 200 mob.current_health mob.total_health "red" %}</div>
       <div class="combat-bar">{% indicator_bar "ST" 200 mob.current_stamina mob.total_stamina "green" %}</div>

    </div>

    <div class="combat-messages">
      {% for game_message in game_messages %}
        <p>{{ game_message.message|safe }}</p>
      {% endfor %}
    </div>

    <div class="combat-actions">
      <a href="{% url "game:attack" %}">Attack</a> |
      <a href="{% url "game:run" %}">Run</a>
    </div>
  </div>

{% endblock %}