{% extends "base.html" %}
{% load apps_player %}

{% block topbar %}
  <div class="bs-component">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand menu site-name" href="{% url "site:index" %}">Divided Kingdom</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a class="menu" href="{% url "game:play" %}">Play</a></li>
        </ul>

        <div class="navbar-right">
          {% if player %}
          <ul class="nav navbar-nav">
            <li><a class="menu" href="#">{{ player.gold }} <img src="{{ STATIC_URL }}/images/icons/coins.png" alt="gold"> </a></li>
            <li><a class="menu" href="{% url "player:detail" player.pk %}">
              <img src="{{ STATIC_URL }}/images/icons/white-bag.png" alt="inventory"> </a>
            </li>
            <li class="dropdown" style="vertical-align: middle;">
              <a href="#" class="dropdown-toggle menu" data-toggle="dropdown"><i class="fa fa-2x fa-cog"></i> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a class="menu" href="{% url "authentication:logout" %}">Log Out</a></li>
              </ul>
            </li>
          </ul>
          {% endif %}
        </div>


        <div class="navbar-right" style="padding-right: 10px;">
          {% player_info user %}
        </div>


      </div>
    </div>
  </div>
{% endblock %}
