{% extends "base.html" %}
{% load apps_player %}

{% block topbar %}
  <div class="bs-component">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand menu site-name" href="{% url "site:index" %}">Divided Kingdom</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a class="menu" href="{% url "game:play" %}">Play</a></li>
          <li><a  class="menu" href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle menu" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a class="menu" href="{% url "authentication:logout" %}">Log Out</a></li>
            </ul>
          </li>
        </ul>

        <div class="navbar-right">

          {% player_info user %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
<div>
  <input class="chat-bar" type="text">
  <input class="" type="button" value="Send">
</div>
{% endblock %}